.icon {
    --icon-width: 32;
    --icon-height: 32;
    fill: currentColor;
    width: calc(1rem * var(--icon-width) / 16);
    height: calc(1rem * var(--icon-height) / 16);
}
.icon[data-xml-id="other"] {
    --icon-width: 14;
    --icon-height: 10;
}
.icon[data-xml-id="add-icon"] {
    --icon-width: 12;
    --icon-height: 15;
}
.icon[data-xml-id="discont-2"] {
    --icon-width: 26;
    --icon-height: 18;
}
.icon[data-xml-id="information"] {
    --icon-width: 20;
    --icon-height: 22;
}
.icon[data-xml-id="promo-2"] {
    --icon-width: 30;
    --icon-height: 16;
}
.icon[data-xml-id="return-ticket"] {
    --icon-width: 26;
    --icon-height: 26;
}
.icon[data-xml-id="tickets-icon-1-x"] {
    --icon-width: 24;
    --icon-height: 18;
}
