<template>
  <div id="app">
    <div class="support-form-popup">
      <header class="support-form-popup__header">
        <div class="support-form-popup__title" v-html="$t('formTitle')"></div>
        <button @click="handleClose" class="support-form-popup__close">&times;</button>
      </header>
      <div class="support-form-popup__body">
        <SupportForm
          ref="supportForm"
          v-bind="$props"
          @close="handleClose">
        </SupportForm>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import SupportForm from './SupportForm.vue'

@Component({
  components: {
    SupportForm
  }
})
export default class App extends Vue {
  @Prop(String) readonly userName?: string
  @Prop(String) readonly userEmail?: string
  @Prop(Boolean) readonly userAgreement!: boolean
  @Prop(String) readonly host!: string
  @Prop(String) readonly apiPath!: string
  @Prop(String) readonly personalTermsUrl!: string
  @Prop(String) readonly returnApplicationPath!: string
  @Prop(String) readonly recaptchaKey!: string

  opener: string|null
  constructor () {
    super()
    const searchParams = new URL(location.href).searchParams
    this.opener = searchParams.get('origin')
  }

  handleClose (e: Event) {
    this.resetForm()
    this.postToParent()
  }

  postToParent () {
    if (!this.opener) {
      return
    }
    window.parent.postMessage('event.close', this.opener)
  }

  resetForm () {
    (this.$refs.supportForm as any).reset()
  }
}
</script>

<style>
#app {
  width: 100%;
  height: 100%;
  font-size: 16px;
}
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
@font-face {
  font-family: 'Futura';
  src: url("../assets/futurademic.otf");
}
.support-form-popup {
  --max-width: 690px;
  background: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: #2c2c2c;
  overflow: auto;
  text-align: left;
}
.support-form-popup__header {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.25rem 0;
}
.support-form-popup__title {
  font-family: 'Futura', sans-serif;
  font-size: 1.875rem;
  letter-spacing: .0625rem;
  line-height: 1;
}
.support-form-popup__close {
  background: none;
  border: none;
  width: 2rem;
  height: 2rem;
  line-height: 1;
  font-weight: bold;
  font-size: 1.25rem;
}
.support-form-popup__body {
  padding: 2rem 1.25rem 2rem;
  width: 100%;
  max-width: var(--max-width);
  /*background-color: yellow;*/
}
.support-form-popup__header + .support-form-popup__body {
  padding-top: 0;
}
@media (min-width: 48rem) {
  .support-form-popup {
    --max-width: 45.625rem;
    padding: 0 2.5rem;
  }
  .support-form-popup__body {
    /*background-color: blue;*/
  }
}
@media (min-width: 75rem) {
  .support-form-popup {
    --max-width: 51.25rem;
  }
  .support-form-popup__body {
    /*background-color: green;*/
  }
}
@media (min-width: 100rem) {
  .support-form-popup__body {
    /*background-color: red;*/
  }
}
.popover {
  border: none;
}
.tooltip {
  display: block !important;
  z-index: 10000;
}
.tooltip .tooltip-inner {
  background: black;
  color: white;
  border-radius: .25rem;
  padding: 5px 10px 4px;
  max-width: 290px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
  z-index: 1;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 10px 6px 0 6px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -10px;
  left: calc(50% - 6px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 10px 6px 0 6px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -10px;
  left: calc(50% - 6px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.tooltip[x-placement*="start"] .tooltip-inner {
  margin-left: -1.25rem;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.tooltip.popover .wrapper {
  filter: drop-shadow(0 4px 12px rgba(89, 109, 136, 0.3));
}
.tooltip.popover .popover-inner {
  background: #fff;
  color: #909eb1;
  text-transform: uppercase;
  font-family: 'Futura', sans-serif;
  font-size: .75rem;
  line-height: 1.67;
  letter-spacing: .0625rem;
  text-align: left;
  padding: 1.25rem 1.25rem 1rem;
  border-radius: .25rem;
  /*box-shadow: 0px 4px 12px 0 rgba(89, 109, 136, 0.3);*/
}

.tooltip.popover .popover-arrow {
  border-color: #fff;
  /*filter: drop-shadow(0 0 1px rgba(89, 109, 136));*/
  z-index: -1;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}
</style>
