<template>
  <div class="form__field form__field--input">
    <input
      type="text"
      class="form__input form__input--text"
      @change.once="field.touched = true"
      :placeholder="placeholder"
      :class="{'form__input--touched': this.field.touched, 'form__input--invalid': this.field.validation.length}"
      v-model="field.value"
    />
    <div v-show="field.validation" class="form__field-errors">
      <div v-for="(error, index) in field.validation" :key="index" class="form__field-error">{{ error }}</div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { Field } from '@/input/Field'
@Component
export default class extends Vue {
  @Prop(Object) field!: Field
  @Prop(String) placeholder!: string
}
</script>
