<template>
  <div class="form" v-cloak>
    <div v-html="require('!html-loader!./../assets/sprite.svg')" hidden></div>
    <div v-if="state === ComponentState.Fill">

      <div class="form__group-title">{{ $t('formTopic') }}</div>
      <div class="form__field form__field--select-box">
        <ul
          class="select-box"
          :class="{'select-box--has-selected': form.fields.topic.value}"
        >
          <li
            class="select-box__option"
            v-for="(topic) in topics"
            :key="topic.id"
            :class="{'select-box__option--selected': form.fields.topic.value===topic.xmlId}"
          >
            <div class="select-box__option-inner" @click="topicChange(topic)">
              <div class="select-box__icon-container">
                <svg class="icon" :data-xml-id="topic.xmlId"><use v-bind="{'xlink:href':'#'+topic.xmlId}"></use></svg>
              </div>
              <span class="select-box__text">{{ $t(`topics.${topic.xmlId}.name`) }}</span>
            </div>
            <v-popover
              v-if="$i18n.t(`topics.${topic.xmlId}.description`).length"
              placement="top-start"
              class="select-box__popover">
              <span class="select-box__popover-trigger">?</span>
              <div slot="popover">{{ $t(`topics.${topic.xmlId}.description`) }}</div>
            </v-popover>
          </li>
        </ul>
      </div>
      <div v-if="form.fields.topic.value">
        <div v-if="topics.find((topic)=>topic.xmlId===form.fields.topic.value).optionalProperties.includes('ORDER_ID_OR_EMAIL')">
          <p class="form__field--help-text">{{ $t(`orderOrEmail`) }}</p>
          <FormInput
            :field="form.fields.orderIdOrEmail"
            :placeholder="$t('placeholder.orderIdOrEmail')"
            />
          <p class="form__field--help-text">{{ $t(`returnTickets`) }}</p>
          <a :href="this.host + this.returnApplicationPath" class="badge">{{ $t(`downloadReturnBlank`) }}</a>
        </div>
        <div class="form__field">
          <textarea
            ref="message"
            class="form__input form__input--textarea"
            @change.once="form.fields.message.touched = true"
            :placeholder="$t('placeholder.message')"
            :class="{'form__input--touched': this.form.fields.message.touched, 'form__input--invalid': this.form.fields.message.validation.length}"
            v-model="form.fields.message.value"
          ></textarea>
          <div v-show="form.fields.message.validation" class="form__field-errors">
            <div v-for="(error, index) in form.fields.message.validation" :key="index">{{ error }}</div>
          </div>
        </div>
        <ul class="form__field file-field">
          <li v-for="(file, index) in form.fields.files.value" :key="index" class="badge file-field__badge">
            <span>{{ file.name | truncateFileName(10) }}</span>
            <button @click="removeFile(index)" class="file-field__item-remove">&times;</button>
          </li>
          <li class="file-field__input">
            <label
              for="file"
              class="form-input-file"
              @dragover="dragging = true"
              @drop="dragging = false"
              @dragleave="dragging = false"
              :class="{'form-input-file--drag-over': dragging}"
            >
              <svg class="icon form-input-file__icon" data-xml-id="add-icon"><use xlink:href="#add-icon"></use></svg>
              {{ $t('fileLabel') }}
              <input type="file" multiple @change="onFileChange" id="file" />
            </label>
          </li>
        </ul>
        <div class="form__group-title">{{ $t('contacts') }}</div>
        <FormInput
          :field="form.fields.name"
          :placeholder="$t('placeholder.name')"
        />
        <FormInput
          :field="form.fields.email"
          :placeholder="$t('placeholder.email')"
        />
        <div class="form__field form__field--input">
          <label for="personalAgreement" class="form-checkbox-label">
            <input type="checkbox" v-model="form.fields.personalTermsAgreement.value" class="form__input form__input--checkbox" id="personalAgreement" />
            <i18n path="personalTermsAgreement" tag="span">
              <a :href="this.personalTermsUrl" target="_blank">{{ $t('personalTermsAgreementLink') }}</a>
            </i18n>
          </label>
        </div>
        <div class="form__field form__field--input">
          <label for="marketingAgreement" class="form-checkbox-label">
            <input type="checkbox" v-model="form.fields.marketingTermsAgreement.value" class="form__input form__input--checkbox" id="marketingAgreement" />
            {{ $t('marketingTermsAgreement') }}
          </label>
        </div>
        <vue-recaptcha
          class="form__captcha"
          ref="reRecaptcha"
          :sitekey="recaptchaKey"
          :loadRecaptchaScript="true"
          :language="currentLocale"
          @verify="onCaptchaVerify"
          @expired="onCaptchaExpired"
        ></vue-recaptcha>
      </div>
    </div>
    <div v-if="state === ComponentState.Success" class="form__state-message" v-html="$t('successMessage')"></div>
    <div v-if="state === ComponentState.Error" class="form__state-message" v-html="$t('errorMessage')"></div>
    <div
      class="form__actions"
      v-show="form.fields.topic.value"
    >
      <button
        v-if="state === ComponentState.Fill"
        :disabled="!this.form.isValid"
        @click="submitForm"
        class="button"
      >{{ $t('submitForm') }}</button>
      <button
        v-if="state === ComponentState.Success"
        @click="$emit('close')"
        class="button"
      >{{ $t('return') }}</button>
      <button
        v-if="state === ComponentState.Error"
        :disabled="!this.form.isValid"
        @click="submitForm"
        class="button"
      >{{ $t('submitAgain') }}</button>
    </div>
  </div>
</template>

<script lang="ts">
import '../assets/sprite.css'
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import VTooltip from 'v-tooltip'
import VueRecaptcha from 'vue-recaptcha'
import Repository from '@/data/repositories/support'
import { SupportFormTopic, extractDTO } from '@/data/model/SupportForm'
import { readFileData } from '@/io/file'
import { LocaleMessageObject } from 'vue-i18n'
import { Validator, isNotEmpty, isPersonName, isEmail } from '@/input/Validator'
import { Field, Form } from '@/input/Field'
import FormInput from './FormInput.vue'

const createRepository = (path: string) => new Repository(path)
enum ComponentState {
  Initial,
  Loading,
  Fill,
  Success,
  Error
}

Vue.use(VTooltip)

type TopicLocaleMessages = { [key: string]: { topics: LocaleMessageObject } };
@Component({
  filters: {
    truncateFileName (_value: string|null, length: number): string {
      if (!_value) return ''
      const ext = _value.substring(_value.lastIndexOf('.') + 1, _value.length)
      let filename = _value.replace('.' + ext, '')
      if (filename.length > length) {
        filename = filename.substr(0, length) + (_value.length > length ? '…' : '')
      }
      return filename + '.' + ext
    }
  },
  components: {
    FormInput,
    VueRecaptcha
  }
})
export default class extends Vue {
    @Prop(String) userName?: string
    @Prop(String) userEmail?: string
    @Prop(Boolean) userAgreement?: boolean
    @Prop(String) host!: string
    @Prop(String) apiPath!: string
    @Prop(String) personalTermsUrl!: string
    @Prop(String) returnApplicationPath!: string
    @Prop(String) recaptchaKey!: string

    errors: string[] = []

    sizeLimit = 20 * 1024 * 1024;

    form: Form = new Form({})

    repository!: Repository

    validators!: {[key: string]: Validator}

    state = ComponentState.Fill

    topics: SupportFormTopic[] = [];

    dragging = false

    get isValid () {
      return true
    }

    get ComponentState () {
      return ComponentState
    }

    get supportedLocales (): string[] {
      return Object.keys(this.$i18n.messages)
    }

    get currentLocale () {
      return this.$i18n.locale
    }

    createForm () {
      const fields: {[key: string]: Field} = {}
      fields.topic = new Field(new Validator([
        { check: isNotEmpty, message: () => this.$i18n.t('validation.requiredField') as string }
      ]))
      fields.name = new Field(new Validator([
        { check: isNotEmpty, message: () => this.$i18n.t('validation.requiredField') as string },
        { check: isPersonName, message: () => this.$i18n.t('validation.personNameField') as string }
      ]), this.userName)
      fields.email = new Field(new Validator([
        { check: isNotEmpty, message: this.$i18n.t('validation.requiredField') as string },
        { check: isEmail, message: this.$i18n.t('validation.emailField') as string }
      ]), this.userEmail)
      fields.message = new Field(new Validator([
        {
          check: (value?: Field['value']): boolean => {
            const topic = this.topics.find((topic) => topic.xmlId === this.form.fields.topic.value)
            if (!topic || !topic.optionalProperties.includes('ORDER_ID_OR_EMAIL')) {
              return true
            }
            return isNotEmpty(value)
          },
          message: () => this.$i18n.t('validation.requiredField') as string
        }
      ]))
      fields.orderIdOrEmail = new Field(new Validator([
        {
          check: (value?: Field['value']): boolean => {
            const topic = this.topics.find((topic) => topic.xmlId === this.form.fields.topic.value)
            if (!topic || !topic.optionalProperties.includes('ORDER_ID_OR_EMAIL')) {
              return true
            }
            return isNotEmpty(value)
          },
          message: this.$i18n.t('validation.requiredField') as string
        }
      ]))
      fields.personalTermsAgreement = new Field(new Validator([
        { check: (value?: Field['value']) => !!value, message: () => this.$i18n.t('validation.requiredField') as string }
      ]), this.userAgreement === true)
      fields.marketingTermsAgreement = new Field(new Validator([]), false)
      fields.files = new Field(new Validator([]), [])
      fields.reCaptcha = new Field(new Validator([
        { check: isNotEmpty, message: () => this.$i18n.t('validation.requiredField') as string }
      ]))
      return new Form(fields)
    }

    async created () {
      this.repository = createRepository(this.host + this.apiPath)
      this.form = this.createForm()
      try {
        await this.load()
      } catch (e) {
        console.error(e)
      }
    }

    reset () {
      this.form = this.createForm()
      this.state = ComponentState.Fill
    }

    async load () {
      const result = await this.repository.getTopics()
      if (result.status === 'error') {
        throw new Error(result.errors.join('\n'))
      }
      const extractedMessages = this.extractLocaleMessage(result.data)
      this.supportedLocales.forEach((locale) => this.$i18n.mergeLocaleMessage(locale, extractedMessages[locale]))
      this.topics = result.data
    }

    extractLocaleMessage (topics: SupportFormTopic[]): TopicLocaleMessages {
      return this.supportedLocales.reduce((acc, locale) => {
        if (!(locale in acc)) {
          acc[locale] = { topics: {} }
        }
        topics
          .forEach((topic) => { acc[locale].topics[topic.xmlId] = topic.localeFields[locale] })
        return acc
      }, {} as TopicLocaleMessages)
    }

    topicChange (topic: SupportFormTopic) {
      if (this.form.fields.topic.value && this.form.fields.topic.value === topic.xmlId) {
        this.form.fields.topic.value = null
      } else {
        this.form.fields.topic.value = topic.xmlId
        this.$nextTick(() => {
          (this.$refs.message as HTMLTextAreaElement).focus();
          (this.$refs.message as HTMLTextAreaElement).scrollIntoView({ behavior: 'smooth' })
        })
      }
    }

    async onFileChange (e: Event): Promise<void> {
      const target = (e.target as HTMLInputElement)
      const files = target.files ?? (e as DragEvent).dataTransfer?.files ?? []
      Array
        .from(files)
        .filter(this.validateSize.bind(this))
        .forEach(async (file) => { await this.addFile(file) })
      target.value = ''
    }

    validateSize (file: File): boolean {
      return file.size < this.sizeLimit
    }

    async addFile (file: File): Promise<void> {
      const fileData = await readFileData(file)
      if (!fileData) {
        throw new Error('BAD_FILE_DATA')
      }
      (this.form.fields.files.value as File[]).push(file)
    }

    removeFile (index: number): void {
      (this.form.fields.files.value as File[]).splice(index, 1)
    }

    onCaptchaVerify (response: string) {
      this.form.fields.reCaptcha.value = response
    }

    onCaptchaExpired () {
      this.form.fields.reCaptcha.value = null
    }

    async submitForm () {
      const result = await this.repository.saveForm(extractDTO(this.form))
      if (result.status === 'success') {
        this.state = ComponentState.Success
      } else {
        this.state = ComponentState.Error
      }
    }
}
</script>
<style>
  @import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap&subset=cyrillic-ext');
  @font-face {
      font-family: 'Futura';
      src: url("../assets/futurademic.otf");
  }
  * {
      box-sizing: border-box;
  }
  label {
      margin: 0;
  }
  :host {
  }
  [v-cloak] { display:none; }

  .button {
      width: 100%;
      border-radius: var(--button-border-radius);
      border: none;
      color: #fff;
      text-transform: uppercase;
      font-family: 'Futura', sans-serif;
      font-size: 1rem;
      letter-spacing: .0625rem;
      padding: 1.25rem 2.375rem 1.125rem;
      background-color: var(--link-color);
  }
  .button[disabled], .button--disabled {
      background-color: #dfe2e6;
  }
  .badge {
      border-radius: var(--button-border-radius);
      border: none;
      color: var(--primary-color);
      text-transform: uppercase;
      font-family: 'Futura', sans-serif;
      font-size: .75rem;
      letter-spacing: .0625rem;
      padding: .375rem .5rem;
      background-color: var(--badge-color);
  }

  .form {
      --primary-color: #004ca0;
      --secondary-color: #00459b;
      --link-color: #009ee1;
      --inactive-border-color: #f4f7fb;
      --input-border-radius: .125rem;
      --button-border-radius: .25rem;
      --badge-color: #edf5ff;
      --error-color: #d0021b;
      font-size: 1rem;
      font-family: 'PT Sans', sans-serif;
      color: #2c2c2c;
  }

  .form__group-title {
      font-family: 'Futura', sans-serif;
      font-size: 1.5rem;
      margin: 2rem 0 1.625rem;
      letter-spacing: .0625rem;
  }

  .form__state-message {
      margin-top: 3rem;
      font-family: 'Futura', sans-serif;
      letter-spacing: .0625rem;
      font-size: 1.25rem;
      line-height: 1.5;
  }
  .form__field {
      margin: 1.25rem 0;
  }
  .form__field--select-box + * {
      margin-top: 3rem;
  }
  .form__field--input {
      margin: 1.25rem 0;
  }

  .file-field {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
  }
  .file-field__badge {
      max-width: 11.25rem;
      height: 1.875rem;
      margin: 0 .625rem .625rem 0;
      display: flex;
      align-items: center;
      padding-right: 0;
  }
  .file-field__item-remove {
      background: none;
      border: none;
      width: 1.875rem;
      font-weight: bold;
      font-size: 1.25rem;
      padding: 0;
      color: currentColor;
  }
  .file-field__input {
    margin: 0 0 .25rem 0;
  }
  .form-input-file {
      font-family: 'Futura', sans-serif;
      font-size: .75rem;
      letter-spacing: .0625rem;
      color: var(--link-color);
      text-transform: uppercase;
      position: relative;
      display: inline-flex;
      align-items: center;
  }
  .form-input-file__icon {
      margin-right: .5rem;
  }
  .form-input-file input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      cursor: pointer;
  }
  .form-input-file--drag-over {
      outline: .125rem solid var(--badge-color);
  }

  .form__input {
      border: none;
      border-radius: var(--input-border-radius);
      background-color: #f4f7fb;
      font-family: 'PT Sans', sans-serif;
  }
  .form__input--text, .form__input--textarea {
      padding: 1rem;
  }
  .form__input--text.form__input--invalid.form__input--touched:not(:focus),
  .form__input--textarea.form__input--invalid.form__input--touched:not(:focus) {
      border-radius: var(--input-border-radius) var(--input-border-radius) 0 0;
      border-bottom: 1px solid var(--error-color);
  }
  .form__input--checkbox {
      appearance: none;
      border: 2px solid #f4f7fb;
      width: 1.875rem;
      height: 1.875rem;
  }
  .form__input--checkbox:checked {
      background: white url("../assets/check-icon-2.svg") 50% 50% no-repeat;
      border-color: var(--link-color);
  }
  .form__field-errors {
      display: none;
      text-transform: uppercase;
      color: var(--error-color);
      font-family: 'Futura', sans-serif;
      font-size: .75rem;
  }
  .form__field-error {
      margin-top: .5rem;
  }
  .form__input--invalid.form__input--touched:not(:focus) + .form__field-errors{
      display: block;
  }
  .form__input--text {
      width: 100%;
      height: 3.125rem;
  }
  .form__input--textarea {
      resize: none;
      width: 100%;
      height: 11.875rem;
  }

  .form-checkbox-label {
      position: relative;
      padding: 0 0 0 2.875rem;
      min-height: 1.875rem;
      display: flex;
      align-items: center;
  }
  .form-checkbox-label input[type="checkbox"] {
      position: absolute;
      left: 0;
      top: 0;
  }

  .form__captcha {
      margin-top: .5rem;
  }
  .form__actions {
      margin-top: 2.125rem;
  }

  .select-box {
      --item-width: 1fr;
      --item-border-width: 2px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(var(--item-width), 1fr));
      list-style: none;
      padding: 0 0 var(--item-border-width);
      margin: 0;
  }
  .select-box__option {
      height: 4.375rem;
      position: relative;
      cursor: pointer;
      margin-bottom: calc(-1 * var(--item-border-width));
  }
  .select-box__option:hover {
      color: var(--primary-color);
  }
  .select-box__option-inner {
      height: 100%;
      display: flex;
      align-items: center;
      font-family: 'Futura', sans-serif;
      font-size: .75rem;
      letter-spacing: .0625rem;
      line-height: 2.5;
      text-transform: uppercase;
      border: var(--item-border-width) solid var(--inactive-border-color);
      padding: 0 1.125rem;
  }
  .select-box__option--selected {
      z-index: 1;
      color: var(--primary-color);
  }
  .select-box__option--selected .select-box__option-inner {
      border-image-slice: 2;
      border-style: solid;
      border-width: 2px;
      border-image-source: linear-gradient(to top, var(--link-color), var(--secondary-color));
  }
  .select-box__icon-container {
      margin: 0 1.125rem 0 0;
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .select-box__popover {
      position: absolute;
      right: 2rem;
      top: 50%;
      transform: translateY(-50%);
  }
  .select-box__popover-trigger {
      display: inline-block;
      border-radius: 999rem;
      background: var(--badge-color);
      width: 1.5rem;
      height: 1.5rem;
      text-align: center;
      line-height: 1.5rem;
      font-family: 'Futura', sans-serif;
      font-size: .75rem;
  }

    @media (max-width: 47.9375rem) {
        .select-box--has-selected .select-box__option:not(.select-box__option--selected) {
            margin-bottom: 0;
            max-height: 0;
            overflow: hidden;
            border: none;
        }
    }
    @media (min-width: 48rem) {
        .button {
            width: auto;
        }
        .form__field--input {
            max-width: 20.625rem;
        }
        .form__field--help-text {
            max-width: 33.5rem;
        }
        .select-box {
            --item-width: 230px;
        }
        .select-box__option {
            margin-right: -2px;
            height: 8.75rem;
        }
        .select-box__option-inner {
            flex-direction: column;
            align-items: flex-start;
            padding-top: 1.5rem;
        }
        .select-box__popover {
            position: absolute;
            top: auto;
            right: 1rem;
            bottom: 1rem;
            transform: none;
        }
        .select-box__icon-container {
            margin: 0 0 .625rem .625rem;
        }
    }
    @media (min-width: 75rem) {
        .select-box {
            --item-width: 260px;
        }
    }
</style>
