<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div
        data-api-path="/api/support/entry.php"
        data-personal-terms-url="https://fc-zenit.ru/privacypolicy/"
        data-return-application-path="/upload/public/возврат_эл.билета.docx"
        data-locale="ru"
        data-user-name=""
        data-user-agreement="true"
        data-recaptcha-key="6LfeodsUAAAAAE7UAUkzDqS3FOfLi6xdcYJ45ATc"
        id="app"
    ></div>
    <!-- built files will be auto injected -->
  </body>
</html>
